.message {
    padding: 16px 32px;
    border-radius: 16px;
}

.error {
    border: 3px solid rgba(80, 0, 0, .8);
    background: rgba(255, 0, 0, .25);
}

.success {
    border: 3px solid rgba(0, 80, 0, .8);
    background: rgba(0, 255, 0, .25);
}

button {
    border: 1px solid rgba(0,0,0,.25);
    background: rgba(240, 240, 240, .75);
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: ease .3s;
}

button:hover {
    background: rgba(235, 235, 235, .85);
}